body {
  color: #999999;
  background-color: #15232C;
  font-family: 'Open Sans', sans-serif;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 651px;
  background-color: #15232c;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    padding: 0 20px;
    border-left: 1px solid #454545;
  }
}
.navbar-static-top {
  background-color: white;
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar {
  background-color: #222222;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #454545;
}
.sidebar ul li a.active {
  background-color: #555555;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.row-full-width {
  margin-left: -20px;
  margin-right: -20px;
}
.section-header {
  padding: 10px 10px 0 10px;
  color: #fcfcfc;
  background-color: #2f3d45;
  border-top: 2px solid #1a1a1a;
}
.right {
  float: right;
}
.centered {
  text-align: center;
}
.column {
  border-right: 2px solid #1a1a1a;
}
.account-actions {
  font-size: 12px;
  border-bottom: 1px solid rgba(206, 210, 213, 0.15);
  margin-right: -10px;
}
.account-actions-p {
  margin: 8px 0 8px;
}
.tab-active {
  background-color: #999999;
}
.tab {
  text-decoration: none;
}
.link {
  color: #999999;
}
.link:hover {
  color: #eeeeee;
  text-decoration: none;
}
.nav-tabs > li > a {
  padding: 15px 15px 15px 15px;
  border-radius: 2px 2px 0 0;
  color: #999999;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-color: #999999;
}
.nav-tabs {
  border-bottom: 1px solid #999999;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 2px;
  color: #eeeeee;
}
.price-chart-place-holder {
  width: 100%;
  height: 300px;
}
.depth-chart-place-holder {
  width: 100%;
  height: 300px;
}
.table {
  font-size: 12px;
}
.table > thead > tr > th {
  vertical-align: middle;
  border-bottom: 1px solid rgba(206, 210, 213, 0.15);
}
.table > thead > tr {
  border-bottom: 1px solid rgba(206, 210, 213, 0.15);
}
.table > tbody > tr > th {
  vertical-align: middle;
  border-bottom: 1px solid rgba(206, 210, 213, 0.15);
  font-weight: normal;
}
.table-responsive {
  margin-left: -15px;
  margin-right: -15px;
}
.ob-sell-table {
  font-size: 12px;
  margin-bottom: 0px;
}
.ob-sell-table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}
.ob-sell-table > tbody > tr > th {
  vertical-align: middle;
  text-align: center;
  border-bottom: hidden;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
}
.ob-buy-table {
  font-size: 12px;
  border: hidden;
  margin-top: 0px;
  padding-left: 20px;
}
.ob-buy-table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}
.ob-buy-table > tbody > tr > th {
  vertical-align: middle;
  text-align: center;
  border-bottom: hidden;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 2px solid rgba(206, 210, 213, 0.15);
}
.btn-custom {
  color: #222222;
  padding: 14px 60px;
  border-radius: 2px;
  background-color: #c3c6c9;
  border: rgba(230, 233, 236, 0.34);
}
.btn-custom:hover {
  background-color: #555555;
  border: #1a1a1a;
  color: #222222;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.login-panel {
  margin-top: 25%;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green a {
  color: #5cb85c;
}
.panel-green a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red a {
  color: #d9534f;
}
.panel-red a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow a {
  color: #f0ad4e;
}
.panel-yellow a:hover {
  color: #df8a13;
}
